<div class="sidebar" [ngClass]="isExpanded ? 'expanded' : 'collapsed'" [@openClose]="isExpanded ? 'open' : 'closed'">
  <div class="sidebar-header">
    <div class="logo-container">
      <h2 *ngIf="isExpanded">SIMIKO v2</h2>
      <h2 *ngIf="!isExpanded">Sv2</h2>
    </div>
    <button mat-icon-button class="toggle-button" (click)="toggle()">
      <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>
  </div>

  <div class="sidebar-content">
    <!-- Admin Menu Section -->
    <div class="menu-section">
      <div class="menu-header" *ngIf="isExpanded">MENU ADMIN</div>
      <div class="menu-header-collapsed" *ngIf="!isExpanded">ADM</div>

      <mat-nav-list>
        <ng-container *ngFor="let item of adminMenuItems">
          <!-- Menu Item without submenu -->
          <ng-container *ngIf="!item.hasSubmenu">
            <a mat-list-item [routerLink]="item.link"
               routerLinkActive="active-link"
               class="nav-item">
              <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
              <span class="menu-text" *ngIf="isExpanded">{{ item.name }}</span>
            </a>
          </ng-container>

          <!-- Menu Item with submenu - Expanded Mode -->
          <ng-container *ngIf="item.hasSubmenu && isExpanded">
            <a mat-list-item
               routerLinkActive="active-link"
               class="nav-item submenu-item"
               (click)="toggleSubmenu($event, item)">
              <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
              <span class="menu-text">{{ item.name }}</span>
              <mat-icon class="expand-icon">
                {{ item.expanded ? 'expand_less' : 'expand_more' }}
              </mat-icon>
            </a>

            <!-- Submenu items for expanded sidebar -->
            <div class="submenu" [@expandSubmenu]="item.expanded ? 'expanded' : 'collapsed'">
              <a mat-list-item *ngFor="let subItem of item.submenuItems"
                 [routerLink]="subItem.link"
                 routerLinkActive="active-link"
                 class="submenu-link">
                <div class="submenu-item">
                  <span class="submenu-icon"></span>
                  <span class="submenu-text">{{ subItem.name }}</span>
                </div>
              </a>
            </div>
          </ng-container>

          <!-- Menu Item with submenu - Collapsed Mode with popup menu -->
          <ng-container *ngIf="item.hasSubmenu && !isExpanded">
            <a mat-list-item
               class="nav-item submenu-item-collapsed"
               [matMenuTriggerFor]="submenuPopup">
              <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
            </a>

            <!-- Popup menu for collapsed sidebar -->
            <mat-menu #submenuPopup="matMenu" class="submenu-popup" [hasBackdrop]="false" [overlapTrigger]="false" xPosition="after" yPosition="below">
              <h4 class="popup-header">{{ item.name }}</h4>
              <button mat-menu-item *ngFor="let subItem of item.submenuItems"
                      [routerLink]="subItem.link"
                      routerLinkActive="active-popup-item">
                <span>{{ subItem.name }}</span>
              </button>
            </mat-menu>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </div>

    <!-- Mentoring Menu Section -->
    <div class="menu-section">
      <div class="menu-header" *ngIf="isExpanded">MENTORING</div>
      <div class="menu-header-collapsed" *ngIf="!isExpanded">MENT</div>

      <mat-nav-list>
        <ng-container *ngFor="let item of mentoringMenuItems">
          <!-- Menu Item without submenu -->
          <ng-container *ngIf="!item.hasSubmenu">
            <a mat-list-item [routerLink]="item.link"
               routerLinkActive="active-link"
               class="nav-item">
              <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
              <span class="menu-text" *ngIf="isExpanded">{{ item.name }}</span>
            </a>
          </ng-container>

          <!-- Menu Item with submenu - Expanded Mode -->
          <ng-container *ngIf="item.hasSubmenu && isExpanded">
            <a mat-list-item
               routerLinkActive="active-link"
               class="nav-item submenu-item"
               (click)="toggleSubmenu($event, item)">
              <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
              <span class="menu-text">{{ item.name }}</span>
              <mat-icon class="expand-icon">
                {{ item.expanded ? 'expand_less' : 'expand_more' }}
              </mat-icon>
            </a>

            <!-- Submenu items for expanded sidebar -->
            <div class="submenu" [@expandSubmenu]="item.expanded ? 'expanded' : 'collapsed'">
              <a mat-list-item *ngFor="let subItem of item.submenuItems"
                 [routerLink]="subItem.link"
                 routerLinkActive="active-link"
                 class="submenu-link">
                <div class="submenu-item">
                  <span class="submenu-icon"></span>
                  <span class="submenu-text">{{ subItem.name }}</span>
                </div>
              </a>
            </div>
          </ng-container>

          <!-- Menu Item with submenu - Collapsed Mode with popup menu -->
          <ng-container *ngIf="item.hasSubmenu && !isExpanded">
            <a mat-list-item
               class="nav-item submenu-item-collapsed"
               [matMenuTriggerFor]="mentorSubmenu">
              <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
            </a>

            <!-- Popup menu for collapsed sidebar -->
            <mat-menu #mentorSubmenu="matMenu" class="submenu-popup" [hasBackdrop]="false" [overlapTrigger]="false" xPosition="after" yPosition="below">
              <h4 class="popup-header">{{ item.name }}</h4>
              <button mat-menu-item *ngFor="let subItem of item.submenuItems"
                      [routerLink]="subItem.link"
                      routerLinkActive="active-popup-item">
                <span>{{ subItem.name }}</span>
              </button>
            </mat-menu>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </div>
  </div>
</div>
